*{
	padding: 0px;
	margin: 0px;
	
}

body{
	background-image:
}

.container{
	margin: 15% auto;
	width: 600px;
	color:white;
}
.login-section{
	/*! background-color:pink; */
	
	
	
	margin: 0px auto;
	height: auto;
	width: auto;
}
.login-section img {
	
	
	
	margin: 0px auto;
	display: block;
}
.register-section h1{
	    display: 
		font-size:
		font-weight: 
		margin-block-start:
		margin-block-end:
}

.Form-control{
	
	
	
	width: 98%;
	height: 35px;
	padding: 5px;
	margin-bottom: 6px;
}
.btn{
	
	
	
	
}